@use '../abstracts' as *;

.main {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container-md {
    max-width: 870px;
  }
}

.hide {
  visibility: hidden;
  display: block;
}

.show {
  visibility: visible;
  display: block;
}
