@use '../abstracts/' as *;

.dropdown-btn {
  background-image: url('/src/assets/icon-arrow-down.svg');
  background-position: right 0.25rem center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 0 1.9rem 0 1rem;
  font-weight: bold;
  transition: box-shadow $transition-primary;
  &:hover,
  &:active,
  &:focus {
    box-shadow: $clr-box-shadow 0px 2px 4px;
  }
}

.dropdown-menu {
  border: none;
  box-shadow: $clr-box-shadow 0px 5px 14px;
  --bs-dropdown-link-active-bg: inherit;

  .dropdown-item:active {
    --bs-dropdown-link-active-color: hsl(274, 82%, 60%);
  }
}
