//COLORS

// Primary
$clr-text-primary: hsl(0, 0%, 18%);
$clr-text-secondary: hsl(0, 0%, 51%);
$clr-accent: hsl(274, 82%, 60%);
$clr-hover: hsl(274, 84%, 71%);
$clr-searchbox: hsl(0, 0%, 91%);
$clr-bg: hsl(0, 0%, 100%);
$clr-line: hsl(0, 3%, 85%);
$clr-box-shadow: rgba(115, 74, 139, 0.2);

//TYPOGRAPHY
$fs-body-m: 18px;
$fs-body-s: 14px;
$fs-heading-xl: 64px;
$fs-heading-l: 44px;
$fs-heading-m: 24px;
$fs-heading-s: 20px;
$ff-first: 'Segoe', 'Segoe UI', 'Arial', 'sans-serif';
$ff-second: 'Segoe', 'Segoe UI', 'Arial', 'sans-serif';
$ff-third: 'Segoe', 'Segoe UI', 'Arial', 'sans-serif';

// ANIMATION

$transition-primary: 0.3s ease-in-out;

//BREAKPOINTS

$breakpoints: (
  xsmall: 22em,
  small: 36em,
  medium: 48em,
  large: 62em,
  xlarge: 75em,
  xxlarge: 93em,
);
